.panel-lite
  .thumbur
    .icon-lock
  h4 Login

  .form-group
    input.form-control(required)
    label.form-label Username    
  .form-group
    input.form-control(type="password" required)
    label.form-label Password

  a(href="#") Forgot Password ?  
  button.floating-btn
    i.icon-arrow